# Tested env: Jetson xavier NX
# Jetpack 5.1.1
# R35 (release), REVISION: 3.1, GCID: 32827747, BOARD: t186ref, EABI: aarch64, DATE: Sun Mar 19 15:19:21 UTC 2023

# for pytorch
# pytorch for jetson is available at https://forums.developer.nvidia.com/t/pytorch-for-jetson/72048
numpy==1.24.4
torch @ https://developer.download.nvidia.cn/compute/redist/jp/v512/pytorch/torch-2.1.0a0+41361538.nv23.06-cp38-cp38-linux_aarch64.whl#sha256=5112e2ef5051f1003ae2ffb545ae596377df66979d62a954d774f18009064dbe
memory-profiler==0.61.0
onnx==1.15.0

# for tensorrt
cuda-python
matplotlib
scikit-learn==1.3.2
gradio # for web UI (optional)
